AWS_ACCESS_KEY_ID=AKIAU6GD3R527CH7OWFL
AWS_SECRET_ACCESS_KEY=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
PUBLIC_EC2_KEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDDQbX/uZSdpr59XNtR015PvNsDM6VpiywovlKumDOHLYMeOXGAASzjbklp4L0Vj/BlFFnkra59HpQa77HxtdfiL2AF2Ut3Qdl9d/cF/21ABh3rAN/nsBrApjBDjwkfEpYYksC6SZ1TgWbUZtIgZg0oEWCwr8LPhz0jHAiiRlHDw17ZLf7NugEopu0ThZrX45fZWhtuuARwDd2QfjzAyPdwycx994ipPhmw2+CQO6ohgwjJAViIC90Ao99cAkkAyXLT7x8JKfwETDoKa7ne1QA5LCK6Ad/EAqWr+ymZ5fn0RvXwKcbEgeeJ3KyxC3bg8MKXFPTgYzsN54Zj5O3qBp2PwrVj5YdXDTbZuJNeVXjevmQszZSr+73XCSSuZvs178sSSX6si6mskZfdOT4CYqihTBoTvu+0+b4vX5+U1dLhG3Nqb+STeBa247Ft1JKr+CKuCruS5r/pVbO46DQfpIQ2gUxz+GjnWIxdilZThOD5XtM/w72YPVB7mKefs1fskBfjuuoC3RUKY3IgbS3wBr+TnEuAAn/fgjUxsW1N1ytXmq2Jpg1AqYe19Ik1jqiI5Vwr89vnNPwudM6F1loiCczj2jpuuF/L2uhoBMdFvMvc6uSYOs+5bOuMuf2GK9JSJfOs5QKVoImlU/BRIV4u+tdUP048gjWKbKHA93IT8j5W6Q== kenkadav@YDVF6024DM
REGION=us-east-1